// 其它自訂樣式
@import './styles/spinner.scss';
$primary: rgb(248, 207, 145);
$secondary: rgba(177, 181, 236, 0.842);

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

// 全站都會使用的共同樣式
html {
  font-size: 12px;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

main > .container {
  padding: 60px 15px 0;
}

.footer {
  background-color: #f5f5f5;
}
